/* layout */

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  padding-top: 15px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

section {
  text-align: center;
  display: block;
  max-width: 550px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
#image {
  max-width: 100%;
}

ul {
  padding-left: 0px;
}

li {
  margin: 16px 0;
}

figure {
  width: 100%;
  margin: 0;
}
/* componnent style */

body {
  background-color: #e8e5e3;
}

ul {
  line-height: 1.6;
  text-align: left;
}

figure {
  background-color: white;
}

#small_header {
  display: block;
}
p {
  display: block;
}
