/* layout */

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#figcap {
  padding-top: 15px;
  padding-left: 30px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* componnent style */

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e8e5e3;
}

.white {
  background-color: white;
}

#image {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  position: relative;
  right: 130px;
}
